#wrapper {
	background-color: #FFF;
	width: 1020px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #CCC;
	display: block;
	margin-bottom: 0px;
	-moz-box-shadow: 0 0 15px #999;
	-webkit-box-shadow: 0 0 15px #999;
	-o-box-shadow: 0 0 15px #999;
	box-shadow: 0 0 15px #999;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 50px;
}

#header {
	background-color: #FFF;
	height: 173px;
	width: 1020px;
	margin: 0px;
	position: relative;
	background-position: center;
	padding: 0px;
}
#wrapper #infocontac {
	width: 1020px;
	color: #FFF;
	height: 40px;
	background-image: url(image/navigasi.png);
	background-color: #FFF;
	
}











#wrapper #categories {
	width: 215px;
	margin: 0px;
	padding: 0px;
	float: left;
	position: relative;
	top: 5px;
	left: 11px;
	display: block;
	clear: both;
	
}
#wrapper #judulcategories {
	width: 216px;
	height: 30px;
	background-color: #F00;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
	position: relative;
	margin: 0px;
	padding: 0px;
}
#wrapper #contener {
	float: left;
	width: 771px;
	left: 22px;
	padding: 0px;
	position: relative;
	top: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 50px;
	margin-left: 0px;
}

#wrapper #contener #slidesow {
	height: 254px;
	width: 771px;
	margin-bottom: 20px;
	-webkit-border-bottom-left-radius:50% 10px;
    -webkit-border-bottom-right-radius:50% 10px;
    -moz-border-radius-bottomleft:50% 10px; 
    -moz-border-radius-bottomright:50% 10px;
    border-bottom-left-radius:50% 10px; 
    border-bottom-right-radius:50% 10px
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,.5);
    -moz-box-shadow:0 5px 10px rgba(0,0,0,.5);
    box-shadow:0 5px 10px rgba(0,0,0,.5);

	
}


.clear{
	clear:both;
	}
#wrapper #contener #indek_prodak {
	width: 800px;
	padding: 0px;
	height: auto;
	display: inline-block;
	position: relative;
	margin: 0px;
	clear: both;
	float: left;
}
.fotoprodak {
	height: 329px;
	width: 250px;
	border: 1px solid #CCC;
	margin-top: 0px;
	margin-right: 3px;
	margin-bottom: 15px;
	margin-left: 3px;
	float: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	-moz-box-shadow: 5px 5px 5px #999;
	-webkit-box-shadow: 5px 5px 5px #999;
	-o-box-shadow: 5px 5px 5px #999;
	box-shadow: 5px 5px 5px #999;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	font-size: 14px;
	text-align: center;
}
.fotoketeranganprodak {
	display: block;
	height: 268px;
	width: 250px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	margin-top: 15px;
}
*{
	margin:0; 
	padding:0;
}
#wrapper #contener #fotospesifikasiprodak {
	width: 774px;
	margin: 0px;
	padding: 0px;
	
}

#wrapper #infocontac .menu .font {
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	text-decoration: none;
	position: relative;
	position: relative;
	left: 250px;
	float: none;
	font-size: medium;
	padding-right: 20px;
	padding-left: 20px;
	top: 7px;
	margin-top: 20px;
	margin-right: 25px;
	margin-bottom: 20px;
	margin-left: 25px;
	font-weight: 400;
}
#footer {
	height: 30px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	margin: 10px;
}
.font_keterangan {
	font-family: Tahoma, Geneva, sans-serif;
	height: auto;
	width: 250px;
	text-align: center;
	clip: rect(auto,auto,auto,auto);
	font-size: 12px;
}
#wrapper #contener #spesifikasi_prodak {
	margin: 0px;
	width: 771px;
	height: auto;
	clear: both;
	float: left;
	border: 1px solid #CCC;
	-moz-box-shadow: 5px 5px 5px #999;
	-webkit-box-shadow: 5px 5px 5px #999;
	-o-box-shadow: 5px 5px 5px #999;
	box-shadow: 5px 5px 5px #999;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
#wrapper #sidebar_contac {
	width: 215px;
	float: left;
	clear: none;
	position: relative;
	margin-top: 30px;
	background-color: #EEEEEE;	
	
}
#wrapper #contener #spesifikasi_prodak table tr th {
	border-top-width: 1px;
	border-top-style: 1;
	border-top-color: #CCC;
	color: #000;
}
#wrapper #contener #spesifikasi_prodak table tr th p {
	border: 1px 1 #F00;
	font-size: 14px;
	color: #333;
}
#wrapper #categories #sidebar_contac table tr td table tr td {
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	text-align: center;
}
#wrapper #categories #menucategorimesin {
	height: auto;
	width: 215px;
	background-color: #EEE;
}

#wrapper #categories #sidebar_contac #judul_contac {
	height: auto;
	width: 215px;
	background-color: #F00;
}


#wrapper #infocontac table tr td {
	text-align: center;
	font-size: 18px;
	font-family: Tahoma, Geneva, sans-serif;
}
a:link {
color: #000;
text-decoration: none;
}

a:hover {
	color: #00F;
	text-decoration: none;
	font-size: 14px;
}

#wrapper #infocontac table tr td a img {
	text-align: left;
}
#wrapper #contener #spesifikasi_prodak table tr td p {
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
}
.contenertexs {
	margin: 0px;
	height: auto;
	width: 771px;
	border: 1px solid #CCC;
	-moz-box-shadow: 5px 5px 5px #999;
	-webkit-box-shadow: 5px 5px 5px #999;
	-o-box-shadow: 5px 5px 5px #999;
	box-shadow: 5px 5px 5px #999;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.heading_title {
	font-family: Tahoma, Geneva, sans-serif;
	height: auto;
	width: 740px;
	margin-top: 10px;
	margin-right: 15px;
	margin-left: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	color: #333;
	font-size: 18px;
	font-weight: bold;
}
.paragraf {
	margin-top: 5px;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-left: 15px;
	padding-bottom: 20px;
}
.conten_paragraf {
	height: auto;
	width: 740px;
	margin-bottom: 20px;
}

.navigasihalaman {
	height: auto;
	width: auto;
	margin-left: 13px;
}
.jarakindekartikel {
	margin-left: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.jarakindekartikel tr td {
	font-size: 14px;
	font-family: Tahoma, Geneva, sans-serif;
}
.jarakindekartikel tr td a h2 {
	font-weight: bold;
	color: #00C;
}
.heading_title h1 {
	font-weight: bold;
	color: #00C;
	font-size: 24px;
}
.navhalamanconten {
	width: 771px;
	clear: both;
	float: left;
}


.H1 {
	width:500px;
	height:40px;
	font-size:10px;
	font-weight:normal;
	margin-top: -100px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 10px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #333;
}
